{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projekt Elona Muska</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style_tesla.css' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <header>
      <div class="logo">PROJEKT ELONA MUSKA</div>
      <div class="nav">
        <button class="menu-toggle" id="menu-toggle" aria-label="Toggle menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <div class="dropdown" id="dropdown-menu">
          {% if user.is_authenticated %}
          <a href="#">Witaj, {{ user.username }}!</a>
          <a href="{% url 'logout' %}">Wyloguj</a>
          {% else %}
          <a href="{% url 'auth' %}">Zaloguj się / Zarejestruj</a>
          {% endif %}
          <a href="{% url 'premium' %}">Kup Premium</a>
        </div>
      </div>
    </header>

    <main>
      {% if messages %}
      <div class="messages-container">
        {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="greeting">WITAJ</div>
      <p>
        Witaj na naszej stronie prezentującej największe projekty Elona Muska w
        jednym miejscu.
      </p>

      <div class="cards">
        <a class="card" href="{% url 'tesla-home' %}">
          <h3>TESLA</h3>
          <p>Kupuj pojazdy elektryczne Tesli</p>
          <img
            src="https://www.tesla.com/sites/default/files/modelsx-new/social/model-s-hero-social.jpg"
            alt="Tesla Car"
          />
        </a>
        <a class="card" href="{% url 'home' %}">
          <h3>SPACE X</h3>
          <p>Podróżuj z nami w kosmos</p>
          <img
            src="https://i.pinimg.com/originals/f2/b1/b8/f2b1b847235119d0ae094a606c74fca4.jpg"
            alt="SpaceX Rocket"
          />
        </a>
        <a class="card" href="{% url 'index' %}">
          <h3>X</h3>
          <p>Dziel się myślami i wyrażaj siebie swobodnie</p>
          <img
            src="https://cdn.prod.website-files.com/5d66bdc65e51a0d114d15891/64cebdd90aef8ef8c749e848_X-EverythingApp-Logo-Twitter.jpg"
            alt="X App Logo"
          />
        </a>
      </div>
    </main>

    <script>
      const toggle = document.getElementById("menu-toggle");
      const menu = document.getElementById("dropdown-menu");
      toggle.addEventListener("click", () => {
        menu.classList.toggle("active");
        toggle.classList.toggle("open");
      });
    </script>
  </body>
</html>
