{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tesla</title>
    <link rel="stylesheet" href="{% static 'tesla.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">TESLA</div>
      <nav>
        <ul>
          <li><a href="{% url 'tesla-home' %}">Strona główna</a></li>
          <li><a href="{% url 'tesla-kontakt' %}">Kontakt</a></li>
          <li><a href="{% url 'tesla-onas' %}">O nas</a></li>
          <li><a href="{% url 'main' %}">Powrót</a></li>
        </ul>
      </nav>
      <div class="logo-right">
        <img src="{% static 'logo-tesla.png' %}" alt="Tesla logo" />
      </div>
    </header>
    <section class="hero">
      <div class="hero-text">
        <h1 class="animate">Tesla to przyszłość</h1>
      </div>
    </section>
  </body>
</html>
